.heading-secondary{
    font-size: 3.5rem;
    font-weight:700;
    text-transform:uppercase;
    background-image: linear-gradient(to right, $color-primary-light,$color-primary-dark);
    display:inline-block;
    background-clip: text;    // background-clip: border-box;
    color:transparent;
    margin:0 auto;

    &:hover{
        transform:skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black,.2);
        // transform:scale(2);

    }
}
.heading-tertiary{
font-size: $default-font-size;
font-weight: 700;
text-transform: uppercase;
}
.paragraph{
    font-size: $default-font-size;

    &:not(:last-child){
        margin-bottom: 3rem;
    }
}